<!doctype html>
<html lang="en">

<head>
  <title>VueJS</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
</head>

<body>

  <div id="app" class="container mt-5" v-on:mousemove="updateCoordinates">
    <div class="form-group">
      <label for="name">Seu nome</label>
      <input v-on:keyup.enter="updateName" type="text" class="form-control" id="name" placeholder="Digite o seu nome">
    </div>
    <div class="jumbotron">
      <h1 class="display-3">Olá, {{ name }}!</h1>
      <small>Seu apelido: {{ nickname }}</small>
      <div class="form-group">
        <label for="name">Altere o seu apelido</label>
        <input v-model="nickname" type="text" class="form-control" id="name" placeholder="Digite o seu nome">
      </div>
      <p class="lead">{{ description }}</p>
      <p v-once>Coordenadas iniciais: {{ x }} / {{ y }}</p>
      <p>Coordenadas atuais: {{ x }} / {{ y }}</p>
      <hr class="my-2">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="javascript:;;" role="button" v-on:click="increase">Clique aqui, {{ nickname }}</a>
      </p>
      <p>Você clicou {{ clicks }} vezes no botão.</p>
      <p>{{ clicks > 10 ? 'Clicou mais que 10 vezes.' : 'Clicou menos que 10 vezes.' }}</p>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>